/* basic CSS====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  background-color: #131313;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.logo {
  height: 40px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 45%;
  background-color: #ffffff;
  color: #131313;
}
.logo:hover {
  background-color: #864713;
  color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li a {
  color: #ffffff;
  margin: 0 30px;
  letter-spacing: 0.3px;
  font-weight: 400;
  transition: all ease 0.3s;
  border-bottom: 1px solid transparent;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  color: #ffffff;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.social a:hover,
.menu li a:hover {
  color: #864713;
  transition: all ease 0.3s;
  border-bottom: 1px solid #864713;
}
.social a:firstchild {
  margin-left: 0;
}



/* main-content part with the image  */
.main-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  text-align: center;
  max-width: 500px;
}
.main-content span {
  color: #8d94b4;
  font-size: 0.9rem;
  font-weight: 400;
}
.main-content strong {
  color: #f9f9f9;
  font-size: 1.6rem;
  font-weight: 700;
}
.main-content h1 {
  font-size: 3rem;
  color: #ffffff;
  line-height: 3.4rem;
  margin-top: 20px;
}
.main-content p {
  color: #5e5e5e;
  margin-top: 20px;
  letter-spacing: 0.3px;
}




/* about section styling starts */
#about-me {
  max-width: 800px;
  width: 90%;
  margin: 50px auto;
}
#about-me strong {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #8d94b4;
}

#about-me h2 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.4rem;
  color: #272727;
  margin-top: 20px;
}
.about-text {
  margin-top: 30px;
  max-width: 85%;
  margin-left: auto;
}
.about-text h3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.4rem;
  color: #272727;
  margin-bottom: 20px;
}
.about-text p {
  color: #1a1a1a;
  margin-bottom: 20px;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}
.about-text a {
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d94b4;
  color: #1a1a1a;
  font-size: 0.9rem;
  font-weight: 500;
}
.about-text i {
  margin-left: 10px;
}




/* services part styling======================== */
#our-services {
  width: 100%;
  margin: 50px auto 0px auto;
  background-color: #161616;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  width: 90%;
}
.services-heading strong {
  color: #8d94b4;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.services-heading h2 {
  font-size: 2.2rem;
  color: #ffffff;
  max-width: 600px;
  font-weight: 700;
}

.services-box-container {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  border: 1px solid #242424;
  padding: 30px;
  background-color: #1a1a1a;
}
.service-box i {
  font-size: 1.1rem;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d94b43b;
}
.service-box strong {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
}
.service-box p {
  color: #e7e7e7;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.service-box a {
  height: 45px;
  width: 120px;
  background-color: #8d94b43b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 30px;
  transition: all ease 0.3s;
 
}
.service-box a:hover{
  background-color: darkslateblue;
  transition: all ease 0.3s;
}
.service-box:hover {
  border: 1px solid #8d94b4;
}
.service-btn{
  color: #c9c9c9;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
  padding: 0px 10px;
}
.service-btn a{
  color: #8d94b4;
  text-decoration: none;
  font-weight: 600;
}

/* contact section starts=========== */
#contact{
  width: 90%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  text-align: center;
}
.contact-me strong{
  font-size: 1.2rem;
  color: #8d94b4;
  letter-spacing: 1px;
  font-weight: 600;
}
.contact-me h3{
  color: #1d1d1d;
  font-size: 2.4rem;
  letter-spacing: 1px;

}
.contact-me p{
  color:#252525;
  font-weight: 500;
  max-width: 550px;
}
.contact-me a{
  width: 200px;
  height: 45px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #8d94b43b;
  color: #1a1a1a;
  font-weight: 600;
  margin-top: 20px;
}
.contact-me a i{
  margin-left: 10px;
}


